@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    --primary-color: #D90404;
    --secondary-color: #590202;
    --terciary-color: #4586BF;
    --quarternary-color: #1B3059;
    --quinary-color: #9AAFD9;
    --white: #FFFFFF;
    --light-gray: #E0E0E0;
    --gray: #9D9D9D;
    --dark-gray: #4E4E4E;
    --black: #191919;
    --shadow: rgba(25, 25, 25, 0.15);

    --h1-family: "Afacad", sans-serif;
    --h1-size: 30px;
    --h1-weight: bold;

    --h2-family: "Afacad", sans-serif;
    --h2-size: 22px;

    --h3-family: "Afacad", sans-serif;
    --h3-size: 18px;

    --p-family: "Afacad", sans-serif;
    --p-size: 16px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body.login{
    background-color: var(--light-gray);
}
body{
    background-color: var(--white);
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: var(--primary-color) !important;
    height: 100px !important;
}
.footer{
    background-color: var(--primary-color) !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.h1{
    font-family: var(--h1-family);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
}
.h1:hover{
    color: var(--white) !important;
    text-decoration: none !important;
}
h2, .h2{
    font-family: var(--h2-family);
    font-size: var(--h2-size);
    color: var(--white);
}
.h3{
    font-family: var(--h3-family);
    font-size: var(--h3-size);
}
.white{
    color: var(--white);
}
.black{
    color: var(--black);
}
.quinary-color{
    color: var(--quinary-color);
}
.black:hover{
    color: var(--black) !important;
    text-decoration: none !important;
}
p{
    font-family: var(--p-family);
    font-size: var(--p-size);
    color: var(--white);
    text-align: justify;
}
.nav-link:hover{
    text-decoration: underline !important;
}

.b1{
    width: 100%;
    height: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.footer input{
    width: 136px;
    height: 28px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    font-family: var(--p-family);
    font-size: var(--p-size);
    color: var(--white);
    padding: 10px;
}
.footer input::placeholder{
    font-family: var(--p-family);
    font-size: var(--p-size);
    color: var(--white);
}
.footer input:focus {
    outline: none;
}
.form-login{
    background-color: var(--white);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.form-info{
    background-color: var(--quarternary-color);   
    width: 50%;
    height: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.margin-top-bottom{
    margin-top: 58px;
    margin-bottom: 58px;
}
.cont-login{
    height: 726px;
    box-shadow: 0px 0px 100px var(--shadow);
    border-radius: 15px;
}
.input-login{
    width: 400px;
    height: auto;
    margin: 10px;
}
.input-text{
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: none;
    font-family: var(--h2-family);
    font-size: var(--h2-size);
    color: var(--black);
    background-color: var(--light-gray);
    padding: 4px;
}
.input-text::placeholder{
    font-family: var(--h2-family);
    font-size: var(--h2-size);
    color: var(--gray);
    padding: 4px;
}
.input-text:focus {
    outline: none;
    padding: 4px;
}

.button-login{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.button-login button{
    width: 168px;
    height: auto;
    background-color: var(--terciary-color);
    border: none;
    border-radius: 10px;
    margin-top: 36px;
}
.button-create{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.button-create button{
    width: 168px;
    height: 39px;
    background-color: var(--terciary-color);
    border: none;
    border-radius: 10px;
    margin-top: 36px;
}
.card{
    height: 400px !important; 
    border: none;
    border-radius: 10px;
}
.card-texto{
    height: 240px !important; 
    border: none;
    border-radius: 10px;
}
.read-anuncio{
    background-color: var(--quarternary-color);
    height: 269px;
}
.cont-anuncio{
    min-height: 350px;
    height: 350px;
    border-radius: 15px;
    display: flex;
}
.ligth-gray-anuncio{
    background-color: var(--light-gray);
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ligth-gray-anuncio img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    padding: 10px;
}
.blue-anuncio{
    background-color: var(--quarternary-color);
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.anuncios{
    min-height: 100vh;
    min-width: 100vh;
}

.info-create{
    background-color: var(--quarternary-color);
    width: 50%;
    height: auto;
}
.form-create{
    width: 50%;
    height: auto;
}
.form-control{
    background-color: var(--light-gray);
    font-family: var(--h2-family) !important;
    font-size: var(--h2-size) !important;
    color: var(--black) !important;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 4px;
    display: none;
}
.form-control:focus{
    border: none;
}
.form-control:active{
    border: none;
    color: var(--terciary-color) !important;
}
.label-file{
    background-color: var(--terciary-color);
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--h2-family);
    font-size: var(--h2-size);
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    padding: 4px;
    transition: transform 0.2s ease-in-out;
}
.label-file:hover{
    color: var(--white) !important;
    transform: scale(1.1);
}
.image-create{
    width: 800px;
    height: auto;
}
.carro-1, .carro-2, .carro-3{
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    width: 100%;
    opacity: 0.7;
}
.carro-1{
    background-image:  url(../img/fuscao-preto.jpeg);
}
.carro-2{
    background-image:  url(../img/camaro-amarelo.jpeg);
}
.carro-3{
    background-image:  url(../img/bmw.jpeg);
}
.img-read{
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    width: 330px; 
    height: 330px; 
    border-radius: 5px;
}
@media(max-width: 1200px) {
    .image-create{
        width: 800px;
        height: auto;
    }
}
.icon:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

