@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root{
    --primary-color: #D90404;
    --secondary-color: #590202;
    --terciary-color: #4586BF;
    --quarternary-color: #1B3059;
    --quinary-color: #9AAFD9;
    --white: #FFFFFF;
    --light-gray: #E0E0E0;
    --gray: #9D9D9D;
    --dark-gray: #4E4E4E;
    --black: #191919;

    --h1-family: "Afacad", sans-serif;
    --h1-size: 28px;
    --h1-weight: bold;
}
.header{
    background-color: var(--primary-color) !important;
    height: 100px !important;
}
.h1{
    font-family: var(--h1-family);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    color: var(--white);
}
.h1:hover{
    color: var(--white) !important;
    text-decoration: none !important;
}
.nav-link:hover{
    text-decoration: underline !important;
}
